/Ecore.ecore.plantuml
/graph_match_0.pretty.plantuml
/graph_match_1.pretty.plantuml
/graph_match_2.pretty.plantuml
/graph_match_3.pretty.plantuml
/GraphCondition.ecore.plantuml
/GraphCondition.plantuml
/m_0.ecore.plantuml
/m_1.ecore.plantuml
/m_2.ecore.plantuml
/set_match_0.pretty.plantuml
/set_match_1.pretty.plantuml
/set_match_10.pretty.plantuml
/set_match_11.pretty.plantuml
/set_match_2.pretty.plantuml
/set_match_3.pretty.plantuml
/set_match_4.pretty.plantuml
/set_match_5.pretty.plantuml
/set_match_6.pretty.plantuml
/set_match_7.pretty.plantuml
/set_match_8.pretty.plantuml
/set_match_9.pretty.plantuml
/SimpleTrello.ecore.plantuml
/tgraph_match_0.pretty.plantuml
/tgraph_match_1.pretty.plantuml
/TrelloInstance.ecore.plantuml
/TrelloInstanceTyped.ecore.plantuml
/TrelloInstanceTyped.plantuml
