/hostGraph_in_FinSets.plantuml
/hostGraph_in_Graphs.plantuml
/match_in_FinSets.plantuml
/match_in_Graphs.plantuml
/match_in_Graphs.pretty.plantuml
/pattern_in_FinSets.plantuml
/pattern_in_Graphs.plantuml
/tripleGraph_in_FinSets.plantuml
/tripleGraph_in_Graphs.plantuml
/tripleGraph_in_TripleGraphs.plantuml
/tripleMorphism_in_FinSets.plantuml
/tripleMorphism_in_Graphs.plantuml
/tripleMorphism_in_TripleGraphs.plantuml
/typed_match_in_FinSets.plantuml
/typed_match_in_Graphs.plantuml
/typed_match_in_TGraphs.plantuml
/typedTripleMorphism_in_FinSets.plantuml
/typedTripleMorphism_in_Graphs.plantuml
/typedTripleMorphism_in_TripleGraphs.plantuml
/typedTripleMorphism_in_TypedTripleGraphs.plantuml
